<!DOCTYPE html>
<html dir="" lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body bgcolor="#f2f2f2" style="margin: 0;
                    padding: 0;
                    mso-line-height-rule: exactly;
                    min-width: 100%;
                    background-color: #f2f2f2;
                    font-family: 'Verdana';
                    font-weight: 400;
                    font-size: 13px;
                    color: #414042;">
        <center class="wrapper" style="display: table;
                          table-layout: fixed;
                          width: 65%;
                          margin-left: auto;
                          margin-right: auto;
                          margin-top: 20px;
                          min-width: 620px;
                          -webkit-text-size-adjust: 100%;
                          -ms-text-size-adjust: 100%;">
            <table cellpadding="15" style="background-color: #fff; margin-top: 15px; margin-left: 15px; margin-right: 15px;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <img alt="" class="img-logo" src="cid:logo" style="width: 180px !important;
                                            height: auto !important;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h1 style="font-family: 'Verdana'; margin-bottom: 0 !important; font-weight: 600; font-size: 32px;">Welcome to Pwpop!</h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="font-size: 14px">Hi!</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px">
                                    To confirm your account, click on the button below:
                                </td>
                            </tr>
                            <tr>
                              <br>
                            </tr>
                           <tr>
                              <td style="text-align:center">
                                 <a class="btn-green" href="{{validation_url}}" style="background-color: #00CCCC;
                                       color: #fff !important;
                                       text-decoration: none;
                                       padding: 5px 10px;
                                       border-radius: 9px;
                                       font-size: 18px;
                                       margin-top: 20px;">
                                    Confirm my account!
                                 </a>
                                 <p>if you can't click the button, copy and paste this in your browser: {{ validation_url }}</p>
                              </td>
                           </tr>
                            <tr>
                             <td style="text-align: center">
                                <hr width="40px" style="height: 2px; border: none; color: #C0C0C0; background-color: #C0C0C0">
                             </td>
                            </tr>
                            <tr>
                                <td style="color:#00CCCC; font-size: 14px;">
                                    <br>
                                    Pwpop team.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table style="margin-top: 40px; margin-left: 0; text-align: center;">
              <tr>
                  <td>
                      <a href="pwpop.test" style="color:#00CCCC !important; text-decoration: none;">pwpop.test</a>
                      <br>
                  </td>
              </tr>
              <tr>
                  <td style="color:#333;">La Salle Ramun Llull</td>
              </tr>
              <tr>
                  <td><br/></td>
              </tr>
          </table>
        </center>
    </body>
</html>
